  body {
    background-color: #d2e603;
  }

  hr {
    background-color: none;
    border-style: dotted none none;
    border-color: #3e978b;
    border-width: 5px;
    height: none;
    width: 5%;
  }

  img {
    height: 200px;
  }

  h1 {
    color: #3e978b;
  }

  h3 {
    color: #3e978b;
  }

  p {
    font-weight: bold;
  }

  table {
    font-weight: bold;
  }
